html, body {
    margin: 0;
    padding: 0;
}

.content {
    width: 1160px;
    margin: 0 auto;
    background-color: black;
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    min-height: 100vh;
    position: relative;
}

.levels {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 200px;
    height: 50%;
    background-color: rgb(0, 0, 0);
    
}

.levels table {
    margin: 16px;
    border-collapse: collapse;
    width: calc(100% - 32px);
}

.levels table td {
    color: rgb(255, 153, 0);
}

.levels table td:first-child {
    padding-right: 16px;
}

.levels table tr:nth-last-child(5n) td {
    color: #ffffff;
    font-weight: bold;
}

tr.active-level {
    background-color: rgb(255, 153, 0);
    position: relative;
}

tr.active-level::before {
    content: "";
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid rgb(255, 153, 0);;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: -10px;
}

tr.active-level::after {
    content: "";
    width: 0; 
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid rgb(255, 153, 0);;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    right: -10px;
}

tr.active-level td {
    color: #000000;
}

tr.active-level td:first-child {
    position: absolute;
}

.controls {
    position: absolute;
    bottom: 64px;
    width: 80%;
    margin: 0 10%;
    height: 370px;
}

.blue {
    /* https://cssgradient.io */
    background: linear-gradient(0deg, rgba(20,5,43,1) 0%, rgba(20,9,100,1) 100%);
    border: 2px solid #a6a9cd;
    border-left: none;
    border-right: none;
    color: white;
}

.blue::before {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(20,5,43,1) 0%, rgba(20,9,100,1) 100%);
    width: 50px;
    height: 100%;
    left: -50px;
    top: -2px;
    z-index: 0;
    border-radius: 50% 0 0 50%;
    border: 2px solid #a6a9cd;
    border-right: none;
}

.blue::after {
    content: "";
    position: absolute;
    background: linear-gradient(0deg, rgba(20,5,43,1) 0%, rgba(20,9,100,1) 100%);
    width: 50px;
    height: 100%;
    right: -50px;
    top: -2px;
    z-index: 0;
    border-radius: 0 50% 50% 0;
    border: 2px solid #a6a9cd;
    border-left: none;
}

.orange:hover, .orange-static {
    background: linear-gradient(0deg, rgba(247,164,0,1) 0%, rgba(253,255,134,1) 100%);
    color: black!important;
}

.orange:hover::before, .orange-static::before {
    background: linear-gradient(0deg, rgba(247,164,0,1) 0%, rgba(253,255,134,1) 100%);
}

.orange:hover::after, .orange-static::after {
    background: linear-gradient(0deg, rgba(247,164,0,1) 0%, rgba(253,255,134,1) 100%);
}

.red, .red::after, .red::before {
    background: linear-gradient(0deg, rgba(255,112,112,1) 0%, rgba(255,0,0,1) 100%);
}

.question {
    position: absolute;
    top: 0;
    width: 80%;
    margin: 0 10%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 150px;
    margin: 0 10%;
    position: absolute;
    bottom: 0;
}

.answer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 4px;
}

.answer:nth-child(1) {
    background-color: lime;
}
.answer:nth-child(2) {
    background-color: green
}
.answer:nth-child(3) {
    background-color: red;
}
.answer:nth-child(4) {
    background-color: blue;
}

.answer:hover {
    background-color: black;
    color: white;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over, .winner {
    width: 50%;
    height: 20%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    font-family: Roboto;
}

.winner {
    background-color: white;
    color: tomato;
}

.hints {
    display: flex;
    position: absolute;
    left: 16px;
    top: 16px;
}

.hint {
    background-color: brown;
    padding: 16px;
    margin-right: 16px;
    color: white;
}

.hint-disabled {
    background-color: gray;
    color: rgb(49, 49, 49);
    pointer-events: none;
}

.call-a-friend {
    width: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 16px 32px 16px 16px;
}

.call-a-friend img {
    width: 200px;
    margin-right: 16px;
}

.call-a-friend h2 {
    color: white;
    font-size: 28px;
    width: 150px;
}

.call-a-friend button {
    margin-top: 16px;
    width: 100%;
    background-color: green;
    font-size: 32px;
}

.bar-chart {
    height: 200px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bar-chart .bar {
    height: 100px;
    width: 50px;
    margin: 0 8px;
    background-color: yellow;
    position: relative;
}

.bar-chart .bar .num {
    position: absolute;
    top: -20px;
    left: 17px;
    color: white;
}

.caption {
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 8px 64px;
}

.timer {
    position: absolute;
    top: -75;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer h2 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 3px 0 0 3px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.question-image {
    height: 150px;
}

.question-video {
    height: 150px;
}

.timer-circle {
    position: absolute;
    width: 50px;
    height: 54px;
    z-index: 0;
}

.timer-container {
    position: relative;
}